body
{
    background-color: rgb(63, 58, 58);
}

.visible{
    opacity: 1;
}

.invisible
{
    opacity: 0;
}

.nomPres
{
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out;
}

.nomPres h1
{
    font-size: 2.5em;
    margin-bottom: 25px;
}

.nomPres p
{
    font-size: 1.5em;
}

.page
{
    transition: opacity 0.5s ease-in-out;
    scroll-snap-type: y mandatory;
}

.section
{
    scroll-snap-align: start;
}

.bg
{
    animation: background 0.09s ease-in-out;
}

@keyframes background
{
    from{background-color: rgb(63, 58, 58);}
    to{background-color: white;}
}